<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<script src="https://js.stripe.com/v3/"></script>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascript %}{% endblock %}
	</body>

</html>
